{% extends 'base.html' %}
{% load static %}
{% load kodeal_filter %}

<!-- 타이틀 -->
{% block title %}
<title>Kodeal QnA</title>
{% endblock %}

<!-- BODY -->
{% block content %}

<div class="container">
    <h3 class="my-3 border-bottom pb-2">QnA 페이지</h3>
    <!-- 검색 창 -->
    <div class="row my-3">
        <!-- 질문 등록 버튼 -->
        <div class="col-6">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" data-bs-whatever="{{ request.user.username }}">질문 등록</button>
        </div>
        <!-- 질문 검색 버튼 -->
        <div class="col-6">
            <div class="input-group">
                <input type="text" id="search_kw" class="form-control"
                       value="{{ kw|default_if_none:'' }}" placeholder="검색어를 입력해 주세요">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">검색</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 질문 목록 -->
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th class="text-center">#</th>
            <th style="width:50%">Question</th>
            <th class="text-center">작성자</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
            {% for question in question_list %}
            <tr>
                <!-- 템플릿 필터 적용: 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                <td class="text-center">
                    {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}
                </td>
                <!-- Question -->
                <td>
                    <a href="{% url 'kodeal:question_detail' question.id %}">{{ question.content }}</a>
                </td>
                <!-- 작성자 -->
                <td class="text-center">{{ question.author.username }}</td>
                <!-- 작성일 -->
                <td>{{ question.create_date.date }} {{ question.create_date.time }}</td>
            </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">등록된 게시물이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징 처리 -->
    <ul class="pagination justify-content-center">
        <!-- 이전 페이지 -->
        {% if question_list.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.previous_page_number }}" href="javascript:void(0)">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지 리스트 -->
        {% for page_number in question_list.paginator.page_range %}
            {% if page_number >= start and page_number <= end %}
                <!-- 현재 페이지 강조 -->
                {% if page_number == question_list.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
                </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        <!-- 다음 페이지 -->
        {% if question_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.next_page_number }}" href="javascript:void(0)">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
</div>

<!-- page와 kw를 동시에 GET으로 요청하는 searchForm -->
<form method="get" id="searchForm" action="{% url 'kodeal:qna' %}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
</form>

<!-- 모달창 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" id="modalForm" action="{% url 'kodeal:question_create' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">사용자 ID</label>
                        <input type="text" class="form-control" id="recipient-name" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Question:</label>
                        <textarea class="form-control" name="content" id="content"
                                  placeholder="Please enter your question.">{{ form.content.value|default_if_none:'' }}</textarea>
                    </div>
                    <label><input type="text" class="form-control" name="language" id="language"
                                  value="{{ form.language.value|default_if_none:'' }}" hidden></label>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1"
                               value="C" autocomplete="off" onclick='setLanguage("C")' checked>
                        <label class="btn btn-outline-primary" for="btnradio1">C</label>
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2"
                               value="Python 3" autocomplete="off" onclick='setLanguage("Python 3")'>
                        <label class="btn btn-outline-primary" for="btnradio2">Python 3</label>
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3"
                               value="Javascript" autocomplete="off" onclick='setLanguage("Javascript")'>
                        <label class="btn btn-outline-primary" for="btnradio3">Javascript</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
            <br>
            {% include 'form_errors.html' %}
        </div>
    </div>
</div>

{% endblock %}

<!-- Javascript -->
<!--
1)  'page-link' 값을 가지고 있는 링크를 클릭하면
    해당 링크의 data-page 속성값을 읽어 searchForm의 page 필드에 설정 후 searchForm을 요청함
2)  검색 버튼을 클릭하면 검색어 텍스트 창에 입력된 값을 searchForm의 kw 필드에 설정하여 searchForm을 요청하도록 함
 -->
{% block script %}
<script type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});

const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 1;    // 검색 버튼 클릭 시 1페이지부터 조회
    document.getElementById('searchForm').submit();
});

// Radio 선택: language 값 가져오기
function setLanguage(lan) {
    document.getElementById('language').value = lan;
}
</script>
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}
