{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}

<div class="container my-3">
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
    <!-- 질문 -->
    <h3 class="my-3 border-bottom pb-2">질문</h3>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">{{ question.content|md }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <!-- 글쓴이 -->
                    <div class="mb-2">{{ question.author.username }}
                        <span class="position-absolute top-0 start-100
                                    translate-middle badge bg-dark rounded-pill bg-danger">
                            {{ question.language }}
                        </span>
                    </div>
                    <!-- 작성일 -->
                    <div>{{ question.create_date.date }} {{ question.create_date.time }}</div>
                </div>
            </div>
            <div class="my-3">
                <!-- '추천' 버튼 -->
                <a href="javascript:void(0)" data-uri="{% url 'kodeal:question_vote' question.id  %}"
                            class="recommend btn btn-sm btn-outline-secondary">추천
                    <span class="badge rounded-pill bg-success">{{ question.voter.count }}</span>
                </a>
                {% if request.user == question.author or request.user.is_staff %}
                <!-- '삭제' 버튼 -->
                <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
                        data-uri="{% url 'kodeal:question_delete' question.id %}">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- 답변 -->
    <h3 class="border-bottom my-3 py-2">Codex의 답변</h3>
    {% for answer in question.answer_set.all %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">{{ answer.content|md }}</div>
            <div class="my-3">
                <!-- '추천' 버튼 -->
                <a href="javascript:void(0)" data-uri="{% url 'kodeal:answer_vote' question.id  %}"
                            class="recommend btn btn-sm btn-outline-secondary">추천
                    <span class="badge rounded-pill bg-success">{{ answer.voter.count }}</span>
                </a>
            </div>
        </div>
    </div><br>
    {% endfor %}
    <!-- 코멘트 등록 -->
    <h5 class="border-bottom my-3 py-2">{{ question.comment_set.count }}개의 코멘트가 있습니다.</h5>
    {% for comment in question.comment_set.all %}
    <a id="comment_{{ comment.id }}"></a>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">{{ comment.content|md }}</div>
            <div class="d-flex justify-content-end">
                <!-- 수정일 -->
                {% if comment.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div>{{ comment.modify_date }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <!-- 글쓴이 -->
                    <div class="mb-2">{{ comment.author.username }}</div>
                    <!-- 작성일 -->
                    <div>{{ comment.create_date }}</div>
                </div>
            </div>
            <div class="my-3">
                <!-- '추천' 버튼 -->
                <a href="javascript:void(0)" data-uri="{% url 'kodeal:comment_vote' comment.id  %}"
                            class="recommend btn btn-sm btn-outline-secondary">추천
                    <span class="badge rounded-pill bg-success">{{ comment.voter.count }}</span>
                </a>
                {% if request.user == comment.author or request.user.is_staff %}
                <!-- '수정' 버튼 -->
                <a href="{% url 'kodeal:comment_modify' comment.id %}"
                        class="btn btn-sm btn-outline-secondary">수정</a>
                <!-- '삭제' 버튼 -->
                <a href="#" class="delete btn btn-sm btn-outline-secondary"
                        data-uri="{% url 'kodeal:comment_delete' comment.id %}">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- 코멘트 등록 -->
    <form id="frmcm" action="{% url 'kodeal:comment_create' question.id %}" method="post" class="my-3">
        {% csrf_token %}
        <div class="form-group">
            <label for="content"></label>
            <textarea name="content" id="content" class="form-control" rows="3"
                       {% if not user.is_authenticated %}disabled{% endif %}
                       placeholder="코멘트를 남겨 주세요!">{{ form.content.value|default_if_none:'' }}</textarea>
        </div><br>
        {% include 'form_errors.html' %}
        <input type="submit" value="코멘트 등록" class="register btn btn-primary">
        <a href="{% url 'kodeal:qna' %}" class="btn btn-outline-secondary">목록</a>
    </form>
</div>

{% endblock %}

<!-- Javascript -->
{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            alert("삭제가 완료되었습니다.");
            location.href = this.dataset.uri;
        }
    });
});

const recommend_elements = document.getElementsByClassName("recommend");
Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("해당 게시물을 추천하시겠습니까?")) {
            // alert("추천이 완료되었습니다.");
            location.href = this.dataset.uri;
        }
    });
});
</script>
{% endblock %}
