{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h3 class="my-3 border-bottom pb-2">OpenAI Codex에게 질문을!</h3>
    <form method="post">
        {% csrf_token %}
        <!-- Form 메인 -->
        <div class="mb-3">
            <label for="content" class="form-label">Question:</label>
            <textarea class="form-control" name="content"
                      id="content">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <div class="mb-3">
            <label for="language" class="form-label">언어</label><br>
            <input type="text" class="form-control" name="language" id="language"
                   value="{{ form.language.value|default_if_none:'' }}" hidden>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1"
                       value="C" autocomplete="off" onclick='setLanguage("C")' checked>
                <label class="btn btn-outline-primary" for="btnradio1">C</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2"
                       value="Python 3" autocomplete="off" onclick='setLanguage("Python 3")'>
                <label class="btn btn-outline-primary" for="btnradio2">Python 3</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio3"
                       value="Javascript" autocomplete="off" onclick='setLanguage("Javascript")'>
                <label class="btn btn-outline-primary" for="btnradio3">Javascript</label>
            </div>
            <label for="loading" id="toggle" class="form-label"
                       style="color: darkgrey;" hidden>　질문을 등록 중입니다...</label>
        </div>
        <button type="submit" id="btn-submit" class="btn btn-primary">Send</button>
    </form>
    <br>
    {% include 'form_errors.html' %}
</div>

{% endblock %}

{% block script %}
<script type='text/javascript'>
// Radio 선택: language 값 가져오기
function setLanguage(lan) {
    document.getElementById('language').value = lan;
}
// 질문 등록 시 Loading 문구 나타내기
const btn_submit = document.getElementById('btn-submit');
const toggle = document.getElementById('toggle');
btn_submit.addEventListener("click", function (e) {
    this.setAttribute("disabled", "disabled");
    if (toggle.hidden) {
        toggle.hidden = false;
        // 폼 전송 및 이중 폼 전송 방지
        this.form.submit();
        btn_submit.disabled = true;
    }
});
</script>
{% endblock %}