<!-- ##################################################### -->
<!-- CSS의 자리 배치를 <head> 태그로 옮기기 위한 샘플 양식 -->
<!-- ##################################################### -->

{% load static %}

<!-- header -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wdth, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- 타이틀 -->
    {% block title %}
    {% endblock %}
</head>
<body>
    <!-- 내비게이션 바 -->
    {% include 'navBar.html' %}
    <!-- ########## 기본 템플릿 안에 삽입될 내용 start ########## -->
    {% block content %}
    {% endblock %}
    <!-- ########## 기본 템플릿 안에 삽입될 내용  end  ########## -->
    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <!-- Javascript -->
    {% block script %}
    {% endblock %}
</body>
</html>